* {
    box-sizing: border-box;
}
.header {
    width: 100%;
}
.header .logo {
    width: 12%;
}
.header .logo img {
    width: 100%;
}
.header .search{
    float: left;
    width: 70%;
    padding-top: 60px;
    padding-left: 0px;
    font-size: 21px;
}
input{
    width: 320px;
}

.body{
    margin: 40px;
    float: left;
    text-align: center;
}
.body .item{
    width: 25%;
    float: left;
    margin-left: 50px;
    margin-bottom: 40px;
    /*margin: 50px;*/
    padding: 50px;
    height: 200px;
}
.body .title{
    padding-top: 150px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}